{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %} {% endblock %} Django Girls Blog</title>

    {% include 'head_css.html' %}
    
  </head>
  
  <body>
    <div class="page-header">
        <a href="{% url "blog.views.post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>